*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

#section1,
#section2,
#section3 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section1 {
    background-color: rgb(255, 255, 255);
}

#section2 {
    background-color: rgb(119, 119, 119);
}

#section3 {
    background-color: rgb(0, 0, 0);
}

h1{
    font-size: 3rem;
    font-family: helvetica;
    font-weight: bold;
    transition: all 0.3s ease;
}

p, i{
    font-size: 1.5rem;
    font-family: helvetica;
    font-weight: medium;
}


#whiteTitle, #whitePar{
    color: lightgrey;
}

#section1 h1:hover{
  color: #206bd4;
}

#section2 h1:hover{
  color: #fd9c41;
}

#section3 h1:hover{
  color: #984dec;
}

