*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

body{
    height: 100vh;   <!-- ESSENZIALE PER SMOOTH SCROLLING-->
}

.container{
    width: 100%;
    height: 100%;
    overflow-y: scroll; 
    scroll-behavior: smooth;     <!-- SMOOTH SCROLLING-->
}

#section1,
#section2,
#section3,
#section4,
#section5 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#navb {
    min-height: 6vh;
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#navb > a,
#getIt{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: helvetica;
    font-weight: bold;
}

#getIt:hover{
    color: rgb(179, 255, 0);
}

.navLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    text-decoration: none;
}

.navLinks li{
    list-style: none;
}

.navLinks a{
    margin: 0px;
    color: grey;
    text-decoration: none;
    font-size: 1rem;
    font-family: helvetica;
    font-weight: bold;
    transition: color .5s;
}

.navLinks a:hover{
    color: rgb(204, 204, 204);
}


#downArrow{
    color: lightgrey;
    text-decoration: none;
    font-size: 1.5rem;
    position: absolute;
    top: 40rem;
    transition: color .5s;
}

#downArrow:hover{
    color: black;
}



#section1 {
    background-color: rgb(240, 240, 240);
    position: relative;                          <!-- ESSENZIALE PER LA FRECCIA INIZIALE -->
}

#section2 {
    background-color: rgb(192, 192, 192);
}

#section3 {
    background-color: rgb(119, 119, 119);
}

#section4 {
    background-color: rgb(27, 27, 27);
}

#section5 {
    background-color: rgb(0, 0, 0);
}

.section h1{
    margin-bottom: 1rem;;
}

#foot{
    min-height: 3vh;
    background-color:rgb(27, 27, 27);
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
}

#foot p{
    font-size: .8rem;
    font-family: helvetica;
    font-weight: bold; 
    color: rgb(119, 119, 119);
}

h1{
    font-size: 4rem;
    font-family: helvetica;
    font-weight: bold;
    transition: all 0.3s ease;
}

p, i{
    font-size: 1.5rem;
    font-family: helvetica;
    font-weight: medium;
}


#whiteTitle, .whitePar{
    color: lightgrey;
}




@media screen and (max-width: 992px){
    .navLinks{
        display: none;
    }

    h1{
        font-size: 2rem;
    }

    p{
        font-size: 1rem;
    }
}